{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('security-login') }}{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center w-100">
  <div class="auth-card">
    <h1>Connexion</h1>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        <strong>Erreur :</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
    {% endif %}
    <form method="post" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Email</label>
        <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="votre@email.com" required autofocus>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="••••••••" required>
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <button class="btn btn-brand w-100" type="submit">
        <span>Se connecter</span>
      </button>
    </form>
    <p class="mt-4 text-center">
      Pas de compte ? <a href="{{ path('app_register') }}">Créer un compte</a>
    </p>
  </div>
</div>

{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('security-login') }}{% endblock %}

